@model ReservationApp1.Models.Reservation

@{
    ViewData["Title"] = "Make Reservation";
}

<h2>Make Reservation</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Reservation" asp-action="MakeReservation" method="post" class="needs-validation" novalidate>
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <label asp-for="User.UserName" class="form-label">Name</label>
                    <input asp-for="User.UserName" class="form-control" required />
                    <div class="invalid-feedback">
                        Please enter a username.
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="User.UserSurname" class="form-label">Surname</label>
                    <input asp-for="User.UserSurname" class="form-control" required />
                    <div class="invalid-feedback">
                        Please enter a surname.
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="User.UserEmail" class="form-label">Email</label>
                    <input asp-for="User.UserEmail" type="email" class="form-control" required />
                    <div class="invalid-feedback">
                        Please enter a valid email.
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="User.UserPhone" class="form-label">Phone</label>
                    <input asp-for="User.UserPhone" class="form-control" required />
                    <div class="invalid-feedback">
                        Please enter a valid phone number.
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="RestaurantId" class="form-label">Select a Restaurant</label>
                    <select asp-for="RestaurantId" asp-items="@ViewBag.Restaurants" class="form-control" required>
                        <option value="">-- Select Restaurant --</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a restaurant.
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="ZoneId" class="form-label">Selected Zone</label>
                    <select asp-for="ZoneId" asp-items="@ViewBag.Zones" class="form-control" required>
                        <option value="">-- Select Zone --</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a zone.
                    </div>
                </div>

                <div>
                    <p>Zones Count: <span id="zoneCount">@ViewBag.ZoneCount</span></p>
                </div>

                <div>
                    <p>Tables Count: <span id="tableCount">@ViewBag.TableCount</span></p>
                </div>

                <div class="mb-3">
                    <h4>Select Tables:</h4>
                    <div id="tableList" class="mb-3 overflow-auto" style="white-space: nowrap;">
                        
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="ReservationDate" class="form-label">Select Date</label>
                    <input asp-for="ReservationDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                    <div class="invalid-feedback">
                        Please select a valid date.
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit Reservation</button>
            </form>
        </div>

        <div class="col-md-6">

            <div class="embed-responsive embed-responsive-16by9 mb-6">
                <iframe id="reservationIframe" data-reserved="" src="" frameborder="0" class="embed-responsive-item" style="width: 100%; height: 100%; min-height: 300px;"></iframe>
            </div>
            
        </div>
    </div>
</div>

@section scripts {
    <script>
        function loadTables() {
            var selectedRestaurantId = $("#RestaurantId").val();

            $.ajax({
                url: '/Reservation/GetTables',
                type: 'GET',
                data: { restaurantId: selectedRestaurantId },
                success: function (data) {
                    populateTableList(data);
                    $.ajax({
                        url: '/Reservation/GetTableCount',
                        type: 'GET',
                        data: { restaurantId: selectedRestaurantId },
                        success: function (tableCount) {
                            $("#tableCount").text(tableCount);
                        },
                        error: function (error) {
                            console.error("Error getting table count:", error);
                            alert("Error getting table count.");
                        }
                    });
                },
                error: function () {
                    alert("Error loading tables.");
                }
            });
        }

        function populateTableList(data) {
            $("#tableList").empty();
            if (data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    $("#tableList").append('<div class="form-check">' +
                        '<input class="form-check-input" type="checkbox" value="' + data[i].value + '" id="tableCheck' + data[i].value + '">' +
                        '<label class="form-check-label" for="tableCheck' + data[i].value + '">' + data[i].value + '</label>' +
                        '</div>');
                }
            } else {
                $("#tableList").html('<p>No tables available.</p>');
            }
        }

        $(document).ready(function () {
            function loadZones() {
                var selectedRestaurantId = $("#RestaurantId").val();
                $.ajax({
                    url: '/Reservation/GetZones',
                    type: 'GET',
                    data: { restaurantId: selectedRestaurantId },
                    success: function (data) {
                        $("#ZoneId").empty();
                        $.each(data, function (index, item) {
                            $("#ZoneId").append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                        $.ajax({
                            url: '/Reservation/GetZoneCount',
                            type: 'GET',
                            data: { restaurantId: selectedRestaurantId },
                            success: function (zoneCount) {
                                $("#zoneCount").text(zoneCount);
                                updateIframeSrc(zoneCount); // Pass zoneCount to updateIframeSrc
                            },
                            error: function (error) {
                                console.error("Error getting zone count:", error);
                                alert("Error getting zone count.");
                            }
                        });
                    },
                    error: function () {
                        alert("Error loading zones.");
                    }
                });
            }


            $("#RestaurantId").change(function () {
                loadZones();
                loadTables();
            });

            function updateIframeSrc(zoneCount) {
                var iframeSrc = "../../pages/reservation/reservation" + zoneCount + ".html";
                $("iframe").attr("src", iframeSrc);
            }

            $('#reservationModal').on('shown.bs.modal', function () {
                $(document.body).addClass('modal-open');
            });

            $('#reservationModal').on('hidden.bs.modal', function () {
                $(document.body).removeClass('modal-open');
            });

            function populateTableDropdown(data) {
                $("#tableDropdown").empty();
                $.each(data, function (index, item) {
                    $("#tableDropdown").append($('<option>', {
                        value: item.value,
                        text: item.text
                    }));
                });
            }

            $('#reservationModal').on('show.bs.modal', function () {
                var selectedRestaurantId = $("#RestaurantId").val();
                $.ajax({
                    url: '/Reservation/GetTables',
                    type: 'GET',
                    data: { restaurantId: selectedRestaurantId },
                    success: function (data) {
                        populateTableDropdown(data);
                    },
                    error: function () {
                        alert("Error loading tables for dropdown.");
                    }
                });
            });

            $('#reservationModal').on('show.bs.modal', function () {
                loadTables();
            });

            // Load tables on page load
            loadTables();
        });
    </script>
}

